* {
    margin: (20px, 0px, 20px, 0px);
    box-sizing: border-box;
    background-color: black;
    color: whitesmoke;
}
    
.mainHeader {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.main_title {
    display: flex;
    justify-content: center;
  
#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

figure {
    margin: 1rem;
}

figure img {
    max-height: 12rem;
}
