* {
    margin: (20px, 0px, 20px, 0px);
    box-sizing: border-box;
    background: black;
    color: whitesmoke;
}

.main_title {
    display: flex;
    justify-content: center;
}

.mainHeader {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url("https://i.ibb.co/3Bz8Yym/image.png");
    background-size: contain;
}

button {
    border-radius:.8rem;
    background-color: #ffcb05;
    color: #fff;
}

figure {
    margin: 1rem;
}

figure img {
    max-height: 12rem;
}
